.element {
    display: flex;
}

.App {
    margin: 80px auto;
    max-width: 900px;
}
.nav_tabs{
    max-width: 322px;
    margin-left: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.tab{
    background: #5a3c8b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .2s;
}

.tab:hover{
    background: #6a5be2;
}
.routes_wrapper {
    background: #6a5be2;
    padding: 20px;
    border-radius: 10px;
}
.result-wrapper,
.attention_wrapper{
    color: #fff;
    padding: 10px;
    text-align: center;
}
.img_wrapper > img{
    max-width: 400px;
    width: 100%;


}
.link-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
    border-top-left-radius: 10px;
}

.link-item > svg{
    width: 30px;
}
.tab >a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.tab{
    align-items: center;
}
.tab > a > svg {
    width: 30px;
}

.library_wrapper {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.input_wrapper {
    display: flex;
    /*justify-content: space-between;*/
    column-gap: 20px;
    max-width: 100%;
    align-items: center;
    margin-top: 20px;
}

.wordInput {
    width: 50%;
}

.wordForm {
    text-align: center;
}

.sub_btn {
    padding: 10px;
    margin-top: 20px;
}

.element {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f6f6f6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.word:after {
    content: '|';
    left: 50%;
    color: #d6d6d6;
    position: absolute;
}

.wordInput > input {
    width: 90%;
    padding: 10px;
}

.library_wrapper > h3 {
    text-align: center;
}

.answer-item{
    padding: 10px;
    display: block;
    border-radius: 10px;
    background: #c2d9ec;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}
.answer-item:hover{
    background: #e3f6dd;
}
.answer-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-left: 0;
    margin: 20px auto;
}
.progress {
    height: 10px;
    border-radius: 30px;
    background-color: #e8e8e8;
    margin-bottom: 25px;
}
.progress__inner {
    border-radius: 30px;
    height: 10px;
    width: 80%;
    background: #12e730;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.title{
    color: #fff;
    text-align: center;
}
.active-tab{
    background-color: #6a5be2;
    margin-bottom: 10px;
    color: #111;
    text-decoration: none;
}